{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">

                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{% static 'images/thumbs/about/about.jpg' %}"  alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Hey, We Are CodingOverloaded.
                        </h1>
                        <h1><strong>About Us</strong></h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                    We provide articles related Latest Technology, Programming Skills, Sports Information, New Released Games. We will provide tips and tricks for programming, sports, games. <strong>GET IN TOUCH, WE WILL PROVIDE YOU ALL RELATED ARTICLES....</strong>
                    </p>

                    <p>

                    </p>

                    <h2>This Is Me.</h2>

                    <p>
                    My name is Aman Chandra Pandey, <strong>Founder of CodingOverloaded</strong>. I am currently pursuing Bachelor Degree at <strong>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY, CHENNAI</strong>. I want to explore the field of
                    Internet of Things(Iot), Artificial Intelligence(AI),etc.
                    <hr>

                    <div class="row block-large-1-2 block-tab-full">

                        <div class="column">
                            <h4>Our Mission.</h4>
                            <p>We  provide information related fast growing Technology,Programming skills related all things, New released games and old versions also and information related sports. </p>
                        </div>

                        <div class="column">
                            <h4>Our Vision.</h4>
                            <p>We think that everyone should be up to date and be familiar with this fast growing technological world. So, no one feels insecure and could  get rid of problems by own. </p>
                        </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->

{% endblock content %}
